<#include "/common/layout_dl.html">
<@header>
</@header>
<@body>
<form class="form-horizontal layui-form layui-form-pane" method="post" action="/jx3/serverInfo/update">
    <input type="hidden" name="id" value="${dto.id}"/>
    <div class="box-body">
        <div class="form-group">
            <label for="network" class="col-sm-2 control-label">网络类型</label>
            <div class="col-sm-10">
                <select id="network" name="network" class="form-control" lay-ignore style="width: 100%;" lay-verify="required">
                    <#list networkTypes as type>
                        <option value="${type.code}"  <#if type.code==dto.network>selected</#if>  >${type.text}</option>
                    </#list>
                </select>
            </div>
        </div>
        <div class="form-group">
            <label class="col-sm-2 control-label">服务器序号</label>
            <div class="col-sm-10">
                <input type="text" class="form-control" name="serial" placeholder="例如：一区" value="${dto.serial}">
            </div>
        </div>
        <div class="form-group">
                <label class="col-sm-2 control-label">服务器名</label>
                <div class="col-sm-10">
                    <input type="text" class="form-control" name="name" placeholder="月下花钱" value="${dto.name}">
                </div>
        </div>
        <div class="form-group">
                <label class="col-sm-2 control-label">排序号</label>
                <div class="col-sm-10">
                    <input type="text" class="form-control" name="sortNum" placeholder="倒序......" value="${dto.sortNum}">
                </div>
        </div>
        <div class="form-group">
            <label for="delFlag"  class="col-sm-2 control-label">状态</label>
            <div class="col-sm-10">
                <select id="delFlag" name="delFlag" class="form-control select2" lay-ignore style="width: 100%;" lay-verify="required">
                    <option value="">状态</option>
                    <#list delFlags as type>
                    <option value="${type.code}" <#if type.code==dto.delFlag>selected</#if> >${type.text}</option>
                    </#list>
                </select>
            </div>
        </div>
        <div class="form-group">
                <label class="col-sm-2 control-label">描述</label>
                <div class="col-sm-10">
                        <textarea class="form-control" name="remarks" rows="3"
                                  placeholder="请输入描述，最多300个字符 ...">${dto.remarks}</textarea>
                </div>
        </div>
        <div class="form-group">
            <label class="col-sm-2 control-label"></label>
            <div class="col-sm-10">
                <button type="submit" class="btn btn-success" lay-submit lay-filter="submit"><i
                        class="fa fa-save"></i> 提 交
                </button>
                <a class="btn btn-default" href="javascript:parent.layer.closeAll('iframe');"><i
                        class="fa fa-close"></i> 取消</a>
            </div>
        </div>
    </div>
</form>
</@body>
<@footer>
</@footer>