<#macro paginate currentPage totalPage pageSize totalRecords formId>
	<#if (totalPage <= 0) || (currentPage > totalPage)><#return></#if>
	<#local startPage = currentPage - 4>
	<#if (startPage < 1)><#local startPage = 1></#if>
	
	<#local endPage = currentPage + 4>
	<#if (endPage > totalPage)><#local endPage = totalPage></#if>
<div class="col-md-6">
	每页 <select class="form-control" name="size" id="pSize" style="width: auto;display: initial;margin: 0 5px;" onchange="page('${formId}','1')">

	<option value="15" ${(pageSize==15)?string('selected="selected"','')}  >15条</option>
	<option value="30" ${(pageSize==30)?string('selected="selected"','')}  >30条</option>
	<option value="50" ${(pageSize==50)?string('selected="selected"','')}  >50条</option>
	<option value="100" ${(pageSize==100)?string('selected="selected"','')}  >100条</option>
	<option value="200" ${(pageSize==200)?string('selected="selected"','')}  >200条</option>
</select>条
	显示 ${((currentPage -1) * pageSize + 1)!}  -  ${(currentPage * pageSize)!} 条  共 ${(totalRecords)!} 条记录
</div>
<div class="col-md-6 pull-left">
	<ul class="pagination pagination-sm no-margin pull-right">
			<#if (currentPage <= 8)>
				<#local startPage = 1>
			</#if>
			<#if ((totalPage - currentPage) < 8)>
				<#local endPage = totalPage>
			</#if>
			
			<#if (currentPage == 1)>
				 <li><a href="javascript:void(0)">&laquo;</a></li>
			<#else>
				 <li><a href="${actionUrl}#{currentPage - 1}${urlParas!}" onclick="page('${formId}','#{currentPage - 1}')">&laquo;</a></li>
			</#if>
			
			<#if (currentPage > 8)>
			     <li><a href="javascript:;" onclick="page('${formId}','1')">#{1}</a></li>
			     <li><a href="javascript:;" onclick="page('${formId}','2')">#{2}</a></li>
			     <li><a href="javascript:void(0)" class="page-more">...</a></li>
			</#if>
			
			<#list startPage..endPage as i>
				<#if currentPage == i>
				      <li class="active"><a href="javascript:void(0)" >#{i}</a></li>
				<#else>
					  <li><a href="javascript:;" onclick="page('${formId}','#{i}')">#{i}</a></li>
				</#if>
			</#list>
			
			<#if ((totalPage - currentPage) >= 8)>
				 <li><a href="javascript:void(0)" >...</a></li>
				 <li><a href="javascript:;" onclick="page('${formId}','#{totalPage - 1}')">#{totalPage - 1}</a></li>
				 <li><a href="javascript:;" onclick="page('${formId}','${totalPage}')">#{totalPage}</a></li>
			</#if>
			<#if (currentPage == totalPage)>
				 <li><a href="javascript:void(0)">&raquo;</a></li>
			<#else>
				 <li><a href="javascript:;" onclick="page('${formId}','#{currentPage + 1}')" >&raquo;</a></li>
			</#if>
	</ul>
</div>
<script type="text/javascript">
	function page(formId,currentPage) {
	    $("#pageNumber").val(currentPage);
	    $("#pageSize").val($("#pSize").val());
		$("#"+formId).submit();
    }

</script>
</#macro>